NET "DOTMATRIX_DATA_IN" 			LOC =P51;
NET "DOTMATRIX_NCLR" 				LOC =P52;
NET "DOTMATRIX_CLK" 					LOC =P57;

NET "DOTMATRIX_R<16>" 					LOC =P71;
NET "DOTMATRIX_R<15>" 					LOC =P72;
NET "DOTMATRIX_R<14>" 					LOC =P74;
NET "DOTMATRIX_R<13>" 					LOC =P76;
NET "DOTMATRIX_R<12>" 					LOC =P77;
NET "DOTMATRIX_R<11>" 					LOC =P78;
NET "DOTMATRIX_R<3>" 					LOC =P93;
NET "DOTMATRIX_R<4>" 					LOC =P94;
NET "DOTMATRIX_R<5>" 					LOC =P95;
NET "DOTMATRIX_R<6>" 					LOC =P96;
NET "DOTMATRIX_R<7>" 					LOC =P97;
NET "DOTMATRIX_R<8>" 					LOC =P100;
NET "DOTMATRIX_R<10>" 					LOC =P85;
NET "DOTMATRIX_R<9>" 					LOC =P86;
NET "DOTMATRIX_R<1>" 					LOC =P87;
NET "DOTMATRIX_R<2>" 					LOC =P90;

INST "DOTMATRIX_R<1>" 			TNM = DOTMATRIX_R;
INST "DOTMATRIX_R<2>" 			TNM = DOTMATRIX_R;
INST "DOTMATRIX_R<3>" 			TNM = DOTMATRIX_R;
INST "DOTMATRIX_R<4>" 			TNM = DOTMATRIX_R;
INST "DOTMATRIX_R<5>" 			TNM = DOTMATRIX_R;
INST "DOTMATRIX_R<6>" 			TNM = DOTMATRIX_R;
INST "DOTMATRIX_R<7>" 			TNM = DOTMATRIX_R;
INST "DOTMATRIX_R<8>" 			TNM = DOTMATRIX_R;
INST "DOTMATRIX_R<9>" 			TNM = DOTMATRIX_R;
INST "DOTMATRIX_R<10>" 			TNM = DOTMATRIX_R;
INST "DOTMATRIX_R<11>" 			TNM = DOTMATRIX_R;
INST "DOTMATRIX_R<12>" 			TNM = DOTMATRIX_R;
INST "DOTMATRIX_R<13>" 			TNM = DOTMATRIX_R;
INST "DOTMATRIX_R<14>" 			TNM = DOTMATRIX_R;
INST "DOTMATRIX_R<15>" 			TNM = DOTMATRIX_R;
INST "DOTMATRIX_R<16>" 			TNM = DOTMATRIX_R;


NET "CLK_20M" 							LOC =P80;

NET "KEY0" 							LOC =P107 | pullup;

NET "row<3>" 						LOC =P21;
NET "row<2>" 						LOC =P22;
NET "row<1>" 						LOC =P24;
NET "row<0>" 						LOC =P26;
NET "column<0>" 					LOC =P27 | pullup;
NET "column<1>" 					LOC =P28 | pullup;
NET "column<2>" 					LOC =P29 | pullup;
NET "column<3>" 					LOC =P31 | pullup;

