//! **************************************************************************
// Written by: Map P.20131013 on Sat Nov 16 11:52:04 2019
//! **************************************************************************

SCHEMATIC START;
COMP "KEY0" LOCATE = SITE "P107" LEVEL 1;
COMP "DOTMATRIX_R<10>" LOCATE = SITE "P85" LEVEL 1;
COMP "DOTMATRIX_R<11>" LOCATE = SITE "P78" LEVEL 1;
COMP "DOTMATRIX_R<12>" LOCATE = SITE "P77" LEVEL 1;
COMP "DOTMATRIX_R<13>" LOCATE = SITE "P76" LEVEL 1;
COMP "DOTMATRIX_R<14>" LOCATE = SITE "P74" LEVEL 1;
COMP "DOTMATRIX_R<15>" LOCATE = SITE "P72" LEVEL 1;
COMP "DOTMATRIX_R<16>" LOCATE = SITE "P71" LEVEL 1;
COMP "DOTMATRIX_CLK" LOCATE = SITE "P57" LEVEL 1;
COMP "column<0>" LOCATE = SITE "P27" LEVEL 1;
COMP "column<1>" LOCATE = SITE "P28" LEVEL 1;
COMP "column<2>" LOCATE = SITE "P29" LEVEL 1;
COMP "column<3>" LOCATE = SITE "P31" LEVEL 1;
COMP "DOTMATRIX_R<1>" LOCATE = SITE "P87" LEVEL 1;
COMP "DOTMATRIX_R<2>" LOCATE = SITE "P90" LEVEL 1;
COMP "DOTMATRIX_R<3>" LOCATE = SITE "P93" LEVEL 1;
COMP "DOTMATRIX_R<4>" LOCATE = SITE "P94" LEVEL 1;
COMP "DOTMATRIX_R<5>" LOCATE = SITE "P95" LEVEL 1;
COMP "DOTMATRIX_R<6>" LOCATE = SITE "P96" LEVEL 1;
COMP "DOTMATRIX_R<7>" LOCATE = SITE "P97" LEVEL 1;
COMP "DOTMATRIX_R<8>" LOCATE = SITE "P100" LEVEL 1;
COMP "DOTMATRIX_R<9>" LOCATE = SITE "P86" LEVEL 1;
COMP "DOTMATRIX_NCLR" LOCATE = SITE "P52" LEVEL 1;
COMP "row<0>" LOCATE = SITE "P26" LEVEL 1;
COMP "row<1>" LOCATE = SITE "P24" LEVEL 1;
COMP "row<2>" LOCATE = SITE "P22" LEVEL 1;
COMP "row<3>" LOCATE = SITE "P21" LEVEL 1;
COMP "DOTMATRIX_DATA_IN" LOCATE = SITE "P51" LEVEL 1;
COMP "CLK_20M" LOCATE = SITE "P80" LEVEL 1;
NET "CLK_20M_BUFGP/IBUFG" BEL "CLK_20M_BUFGP/BUFG.GCLKMUX" USELOCALCONNECT;
TIMEGRP DOTMATRIX_R = BEL "DOTMATRIX_R<10>" BEL "DOTMATRIX_R<11>" BEL
        "DOTMATRIX_R<12>" BEL "DOTMATRIX_R<13>" BEL "DOTMATRIX_R<14>" BEL
        "DOTMATRIX_R<15>" BEL "DOTMATRIX_R<16>" BEL "DOTMATRIX_R<1>" BEL
        "DOTMATRIX_R<2>" BEL "DOTMATRIX_R<3>" BEL "DOTMATRIX_R<4>" BEL
        "DOTMATRIX_R<5>" BEL "DOTMATRIX_R<6>" BEL "DOTMATRIX_R<7>" BEL
        "DOTMATRIX_R<8>" BEL "DOTMATRIX_R<9>";
SCHEMATIC END;

